@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

* a {
  color: #000000;
}

.superContainer {
  overflow: hidden;
}

header .top-bar {
  width: 100%;
  height: 60px;
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-bar .wrap {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .top-bar .wrap .top-bar-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 9%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-bar .wrap .top-bar-left-side .top-bar-dropdown li {
  padding-left: 13px;
  padding-right: 13px;
  display: inline-block;
  position: relative;
  height: 56px;
  z-index: 2;
}

header .top-bar .wrap .top-bar-left-side .top-bar-dropdown li a {
  display: block;
  position: relative;
  line-height: 56px;
  white-space: nowrap;
}

header .top-bar .wrap .top-bar-left-side .top-bar-dropdown li a:hover {
  color: #cc00ff;
}

header .top-bar .wrap .top-bar-left-side .top-bar-dropdown li ul {
  display: block;
  position: absolute;
  top: 90%;
  left: 0;
  width: auto;
  visibility: hidden;
  opacity: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .top-bar .wrap .top-bar-left-side .top-bar-dropdown li:hover > ul {
  top: 103%;
  visibility: visible;
  opacity: 1;
}

header .top-bar .wrap .top-bar-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-bar .wrap .top-bar-right-side .svg-icon {
  width: 20px;
}

header .top-bar .wrap .top-bar-right-side a:hover {
  color: #cc00ff;
}

header .bottom-bar {
  height: 120px;
  -webkit-box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bottom-bar .wrap {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bottom-bar .wrap .logo {
  width: 136px;
}

header .bottom-bar .wrap .search {
  width: 50%;
  height: 40px;
  border: 2px solid #000000;
  border-right: none;
  border-radius: 0px 10px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .bottom-bar .wrap .search .catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  height: 40px;
  border: 2px solid #000000;
  margin-top: -2px;
  margin-left: -2px;
  background: #f8dcff;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown {
  width: 100%;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li {
  padding-left: 13px;
  padding-right: 13px;
  display: inline-block;
  position: relative;
  height: 56px;
  z-index: 1;
  width: 100%;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li a {
  display: block;
  position: relative;
  line-height: 56px;
  white-space: nowrap;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li ul {
  display: block;
  position: absolute;
  top: 90%;
  left: -20%;
  width: auto;
  visibility: hidden;
  opacity: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li ul li {
  padding-left: 13px;
  padding-right: 13px;
  display: inline-block;
  position: relative;
  height: 56px;
  z-index: 1;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li ul li ul {
  display: block;
  position: absolute;
  top: 0%;
  left: 99%;
  width: auto;
  visibility: hidden;
  opacity: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .bottom-bar .wrap .search .catalog li:hover > a {
  color: #CC00FF;
}

header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li:hover > ul {
  visibility: visible;
  opacity: 1;
}

header .bottom-bar .wrap .search form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .bottom-bar .wrap .search form .search_input {
  margin-top: -2px;
  height: 40px;
  border: none;
  width: 85%;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  outline: none;
  padding-left: 2%;
}

header .bottom-bar .wrap .search form .search_icon {
  margin-top: -2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16%;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 0px 10px 10px 0px;
  background: #f8dcff;
  cursor: pointer;
}

header .bottom-bar .wrap .search form .search_icon img {
  margin-top: 2px;
  width: 32px;
}

@-webkit-keyframes click {
  from {
    background: #f8dcff;
  }
  to {
    background: white;
  }
}

@keyframes click {
  from {
    background: #f8dcff;
  }
  to {
    background: white;
  }
}

header .bottom-bar .wrap .search form .search_icon:hover {
  -webkit-animation: click 0.5s linear alternate infinite;
          animation: click 0.5s linear alternate infinite;
}

header .bottom-bar .wrap .bottom-bar-right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 136px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .bottom-bar .wrap .bottom-bar-right-side .svg_icon {
  width: 60px;
}

header .bottom-shadow {
  height: 8px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 26, 255, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 26, 255, 0) 100%);
}

.product-top {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.product-top .product-photo {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-top .product-photo img {
  height: 525px;
}

.product-top .product-photo .sim-slider {
  position: relative;
}

.product-top .product-photo .sim-slider .sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.product-top .product-photo .sim-slider .sim-slider-list li {
  opacity: 0;
}

.product-top .product-photo .sim-slider .sim-slider-list .sim-slider-element {
  width: 100%;
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-top .product-photo .sim-slider .sim-slider-dots {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
}

.product-top .product-photo span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 0;
  display: inline-block;
  background-color: #BBB;
  border-radius: 5px;
  cursor: pointer;
}

.product-top .product-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-top .product-info a, .product-top .product-info div {
  margin-top: 15px;
}

.product-top .product-info .product-name-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
}

.product-top .product-info .product-name-all .product-name {
  font-size: 32px;
  margin-top: 0;
}

.product-top .product-info .product-name-all img {
  margin-left: 10px;
  width: 38px;
}

.product-top .product-info .product-name-all img:hover {
  cursor: pointer;
}

.product-top .product-info .memory, .product-top .product-info .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.product-top .product-info .memory .var-all, .product-top .product-info .color .var-all {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-top .product-info .memory .var-all .var, .product-top .product-info .color .var-all .var {
  width: 48px;
  height: 19px;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-top .product-info .memory .var-all .var:hover, .product-top .product-info .color .var-all .var:hover {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.571);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.571);
}

.product-top .product-info .memory .var-all .m-active, .product-top .product-info .color .var-all .m-active {
  -webkit-animation: choice 2s ease-in alternate infinite;
          animation: choice 2s ease-in alternate infinite;
  color: white;
}

.product-top .product-info .memory .var-all .c1, .product-top .product-info .color .var-all .c1 {
  background: -webkit-gradient(linear, left top, right top, from(#6D6B6B), to(#E4E4E4));
  background: linear-gradient(90deg, #6D6B6B 0%, #E4E4E4 100%);
}

.product-top .product-info .memory .var-all .c2, .product-top .product-info .color .var-all .c2 {
  background: -webkit-gradient(linear, left top, right top, from(#DDDDDD), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #DDDDDD 0%, rgba(255, 255, 255, 0) 100%);
}

.product-top .product-info .memory .var-all .c3, .product-top .product-info .color .var-all .c3 {
  background: -webkit-gradient(linear, left top, right top, from(#FFCD6B), to(#FFE03C));
  background: linear-gradient(90deg, #FFCD6B 0%, #FFE03C 100%);
}

.product-top .product-info .memory .var-all .c4, .product-top .product-info .color .var-all .c4 {
  background: -webkit-gradient(linear, left top, right top, from(#0A8200), to(#56CE4C));
  background: linear-gradient(90deg, #0A8200 0%, #56CE4C 100%);
}

.product-top .product-info .memory .var-all .c5, .product-top .product-info .color .var-all .c5 {
  background: -webkit-gradient(linear, left top, right top, from(#C5CDF8), to(#F1F3FF));
  background: linear-gradient(90deg, #C5CDF8 0%, #F1F3FF 100%);
}

.product-top .product-info .memory .var-all .c-active, .product-top .product-info .color .var-all .c-active {
  border-color: #AD00FF;
}

@-webkit-keyframes choice {
  from {
    background: -webkit-gradient(linear, left top, right top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(90deg, #1400FF 0%, #8F00FF 50%);
  }
  5% {
    background: linear-gradient(80deg, #1400FF 0%, #8F00FF 50%);
  }
  10% {
    background: linear-gradient(70deg, #1400FF 0%, #8F00FF 50%);
  }
  15% {
    background: linear-gradient(60deg, #1400FF 0%, #8F00FF 50%);
  }
  20% {
    background: linear-gradient(50deg, #1400FF 0%, #8F00FF 50%);
  }
  25% {
    background: linear-gradient(40deg, #1400FF 0%, #8F00FF 50%);
  }
  30% {
    background: linear-gradient(30deg, #1400FF 0%, #8F00FF 50%);
  }
  35% {
    background: linear-gradient(20deg, #1400FF 0%, #8F00FF 50%);
  }
  40% {
    background: linear-gradient(10deg, #1400FF 0%, #8F00FF 50%);
  }
  45% {
    background: -webkit-gradient(linear, left bottom, left top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(0deg, #1400FF 0%, #8F00FF 50%);
  }
  50% {
    background: linear-gradient(-10deg, #1400FF 0%, #8F00FF 50%);
  }
  55% {
    background: linear-gradient(-20deg, #1400FF 0%, #8F00FF 50%);
  }
  60% {
    background: linear-gradient(-30deg, #1400FF 0%, #8F00FF 50%);
  }
  65% {
    background: linear-gradient(-40deg, #1400FF 0%, #8F00FF 50%);
  }
  70% {
    background: linear-gradient(-50deg, #1400FF 0%, #8F00FF 50%);
  }
  75% {
    background: linear-gradient(-60deg, #1400FF 0%, #8F00FF 50%);
  }
  80% {
    background: linear-gradient(-70deg, #1400FF 0%, #8F00FF 50%);
  }
  85% {
    background: linear-gradient(-80deg, #1400FF 0%, #8F00FF 50%);
  }
  90% {
    background: -webkit-gradient(linear, right top, left top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(-90deg, #1400FF 0%, #8F00FF 50%);
  }
  95% {
    background: linear-gradient(-100deg, #1400FF 0%, #8F00FF 50%);
  }
  100% {
    background: linear-gradient(-110deg, #1400FF 0%, #8F00FF 50%);
  }
}

@keyframes choice {
  from {
    background: -webkit-gradient(linear, left top, right top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(90deg, #1400FF 0%, #8F00FF 50%);
  }
  5% {
    background: linear-gradient(80deg, #1400FF 0%, #8F00FF 50%);
  }
  10% {
    background: linear-gradient(70deg, #1400FF 0%, #8F00FF 50%);
  }
  15% {
    background: linear-gradient(60deg, #1400FF 0%, #8F00FF 50%);
  }
  20% {
    background: linear-gradient(50deg, #1400FF 0%, #8F00FF 50%);
  }
  25% {
    background: linear-gradient(40deg, #1400FF 0%, #8F00FF 50%);
  }
  30% {
    background: linear-gradient(30deg, #1400FF 0%, #8F00FF 50%);
  }
  35% {
    background: linear-gradient(20deg, #1400FF 0%, #8F00FF 50%);
  }
  40% {
    background: linear-gradient(10deg, #1400FF 0%, #8F00FF 50%);
  }
  45% {
    background: -webkit-gradient(linear, left bottom, left top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(0deg, #1400FF 0%, #8F00FF 50%);
  }
  50% {
    background: linear-gradient(-10deg, #1400FF 0%, #8F00FF 50%);
  }
  55% {
    background: linear-gradient(-20deg, #1400FF 0%, #8F00FF 50%);
  }
  60% {
    background: linear-gradient(-30deg, #1400FF 0%, #8F00FF 50%);
  }
  65% {
    background: linear-gradient(-40deg, #1400FF 0%, #8F00FF 50%);
  }
  70% {
    background: linear-gradient(-50deg, #1400FF 0%, #8F00FF 50%);
  }
  75% {
    background: linear-gradient(-60deg, #1400FF 0%, #8F00FF 50%);
  }
  80% {
    background: linear-gradient(-70deg, #1400FF 0%, #8F00FF 50%);
  }
  85% {
    background: linear-gradient(-80deg, #1400FF 0%, #8F00FF 50%);
  }
  90% {
    background: -webkit-gradient(linear, right top, left top, from(#1400FF), color-stop(50%, #8F00FF));
    background: linear-gradient(-90deg, #1400FF 0%, #8F00FF 50%);
  }
  95% {
    background: linear-gradient(-100deg, #1400FF 0%, #8F00FF 50%);
  }
  100% {
    background: linear-gradient(-110deg, #1400FF 0%, #8F00FF 50%);
  }
}

.product-top .product-info .memory a, .product-top .product-info .memory div, .product-top .product-info .color a, .product-top .product-info .color div {
  margin-top: 0;
}

.product-top .product-info .to-cart {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -4px;
}

.product-top .product-info .to-cart .price {
  font-size: 32px;
  margin-top: 0;
}

.product-top .product-info .to-cart button {
  width: 150px;
  height: 35px;
  background: -webkit-gradient(linear, left top, right top, from(#AD00FF), to(#4200FF));
  background: linear-gradient(90deg, #AD00FF 0%, #4200FF 100%);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.product-top .product-info .to-cart button:hover {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.571);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.571);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-bottom {
  width: 100%;
  font-size: 36px;
}

.product-bottom a {
  margin-left: 10%;
}

.product-bottom table {
  width: 100%;
  margin-top: 0.5%;
}

.product-bottom table tr {
  height: 40px;
  width: 100%;
}

.product-bottom table tr td {
  font-size: 16px;
  width: 50%;
}

.product-bottom table tr td:first-child {
  padding-left: 3%;
}

.product-bottom table tr:nth-child(2n) {
  background-color: #FDF8FF;
}

.similar {
  height: 300px;
  width: 100%;
  font-size: 36px;
  margin-top: 0.5%;
}

.similar a {
  margin-left: 10%;
}

.similar .product-all {
  width: 90%;
  height: 200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.75%;
}

.similar .product-all .product .link {
  height: 200px;
  width: 170px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.similar .product-all .product .link a {
  margin-left: 0%;
}

.similar .product-all .product .link .photo {
  width: 100px;
}

.similar .product-all .product .link .photo img {
  width: 100px;
}

.similar .product-all .product .link .price {
  font-size: 18px;
}

.similar .product-all .product .link .name {
  font-size: 16px;
}

.similar .product-all .link:hover {
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.571);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.571);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

footer .logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .buyer, footer .company, footer .seller {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
  text-align: center;
}

footer .buyer li, footer .company li, footer .seller li {
  list-style-type: none;
  font-size: 16px;
}

footer .buyer li a:hover, footer .company li a:hover, footer .seller li a:hover {
  color: #cc00ff;
}

footer .contacts {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 38px;
}

footer .contacts .number {
  font-size: 18px;
}

footer .contacts .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

footer .contacts .social img {
  width: 40px;
  border-radius: 10px;
}

@media (max-width: 1864px) {
  .product-top .product-info .memory, .product-top .product-info .color {
    width: 59%;
  }
  .similar .product-all .product:nth-child(9) {
    display: none;
  }
}

@media (max-width: 1570px) {
  .product-top .product-info .memory, .product-top .product-info .color {
    width: 75%;
  }
  .similar .product-all .product:nth-child(8) {
    display: none;
  }
}

@media (max-width: 1330px) {
  header .top-bar .wrap .top-bar-right-side {
    width: 20%;
  }
  .product-top .product-info .memory, .product-top .product-info .color {
    width: 94%;
  }
  .similar .product-all .product:nth-child(7) {
    display: none;
  }
  .similar .product-all {
    width: 99%;
  }
  footer .buyer, footer .company, footer .seller, footer .contacts {
    font-size: 28px;
  }
  footer .contacts .number {
    font-size: 15px;
  }
  footer .buyer li, footer .company li, footer .seller li {
    font-size: 11px;
  }
}

@media (max-width: 1083px) {
  .product-top .product-info .memory .var-all, .product-top .product-info .color .var-all {
    width: 261px;
  }
  .similar .product-all .product:nth-child(6) {
    display: none;
  }
}

@media (max-width: 859px) {
  header .top-bar .wrap .top-bar-right-side {
    width: 28%;
  }
  .product-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product-top .product-photo {
    margin-top: 5%;
  }
  .product-top .product-info {
    width: 100%;
  }
  .product-top .product-info .product-name {
    padding-left: 2%;
  }
  .product-top .product-info .to-cart {
    margin-top: 0;
    margin-left: 2%;
  }
  .product-top .product-info .memory, .product-top .product-info .color {
    width: 100%;
  }
  .product-bottom {
    margin-top: 5%;
  }
  .similar .product-all .product:nth-child(5) {
    display: none;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  footer .logo {
    width: 63%;
  }
  footer div {
    margin: 10px 0;
  }
  footer .contacts {
    width: 100%;
  }
  footer .contacts .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contacts .social img {
    width: 86px;
    margin-left: 5px;
    margin-right: 5px;
  }
  footer .buyer, footer .company, footer .seller, footer .contacts {
    font-size: 88px;
  }
  footer .contacts .number {
    font-size: 20px;
  }
  footer .buyer li, footer .company li, footer .seller li {
    font-size: 30px;
  }
  footer .buyer, footer .company, footer .seller {
    width: 100%;
  }
}

@media (max-width: 735px) {
  header .top-bar .wrap .top-bar-right-side .svg-icon img {
    display: none;
  }
  header .top-bar .wrap .top-bar-right-side {
    width: 36%;
  }
  header .bottom-bar .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .bottom-bar {
    height: 100%;
  }
  header .bottom-bar div {
    margin-top: 5px;
  }
  header .bottom-bar .wrap .search {
    width: 113%;
  }
  header .bottom-bar .wrap .logo {
    width: 344px;
  }
  .similar {
    height: auto;
    margin-bottom: 5%;
  }
  .similar .product-all {
    height: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 687px) {
  .similar .product-all .product:nth-child(5),
  .similar .product-all .product:nth-child(6) {
    display: block;
  }
  .similar .product-all {
    width: 90%;
  }
  .similar .product-all .product {
    margin-top: 20px;
  }
}

@media (max-width: 600px) {
  header .bottom-bar .wrap .logo {
    width: 280px;
  }
}

@media (max-width: 567px) {
  .month-product {
    height: 252px;
  }
  .month-product .goto {
    height: 45px;
    border-radius: 0 0 25px 25px;
  }
  .similar .product-all {
    width: 94%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 446px) {
  header .top-bar .wrap .top-bar-right-side {
    width: 58%;
  }
  header .bottom-bar .wrap .logo {
    width: 247px;
  }
  header .bottom-bar .wrap .search .catalog .bottom-bar-dropdown li ul {
    font-size: 13px;
  }
  .product-top .product-photo img {
    height: 449px;
  }
  footer .buyer, footer .company, footer .seller, footer .contacts {
    font-size: 70px;
  }
  footer .buyer li, footer .company li, footer .seller li {
    font-size: 20px;
  }
}
/*# sourceMappingURL=product.css.map */